html {
    position: relative;
    min-height: 100%;
}

.container {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: lightgrey;
    padding: 10px;
    width: 400px;
    height: 60vh;
    min-height: 400px;

}

#display {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    border-color: black;
    border: 2px;
    height: auto;
}

.previous_operation {
    font-size: 15px;
    height: 15px;
    margin-bottom: 5px;
}

.current_screen {
    height: 20px;
    font-size: 20px;
}

#clear {
    background-color: lightcoral;
}

#delete {
    font-size: 30px;
}

button {
    cursor: pointer;
    height: 50px;
}

#button_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
  }